[build-system]
requires = ["setuptools>=42.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.mypy]
mypy_path = "."
ignore_missing_imports = true

[tool.black]
line-length = 120
skip-string-normalization = true

[tool.isort]
profile = "black"
